{% extends 'base.html' %}

{% block title %}Contacts{% endblock %}

{% block content %}
<div class="text-center">
    <h2>Contact Information</h2>
    <img src="{{ url_for('static', filename='images/Location.jpg') }}" alt="Donuts" class="img-fluid">
    <p><strong>🏠 Address:</strong> 123 Donut Street, Sweet City</p>
    <p><strong>📧 Email:</strong> contact@donutshop.com</p>
    <p><strong>📞 Phone:</strong> +1-800-555-DONUT</p>
    <p><strong>🤖 Telegram Chat-bot:</strong> @DonutDuckBot</p>
</div>
{% endblock %}
